<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rest Template Api</title>
</head>
<body>
<table border="1" cellpadding="4">
    <thead>
    <tr>
        <th> Name </th>
        <th> Type </th>
        <th> Country </th>
        <th> City </th>
        <th> Website </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="brew : ${brewery}">
        <td><span th:text="${brew.getName()}"> Name </span></td>
        <td><span th:text="${brew.getBreweryType()}"> Type </span></td>
        <td><span th:text="${brew.getCountry()}"> Country </span></td>
        <td><span th:text="${brew.getCity()}"> City </span></td>
        <td><span th:text="${brew.getWebsiteUrl()}"> Website </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>